This should include all the third party python modules used for the development of the
immunobrowser.

### Whatever App the one that's running... forgot the word ###
cython
numpy
scipy
matplotlib

### Development ###
mock
numpy
mysql
mysql-python
selenium
factory_boy
