<html>
  <body>
    <h1>T-cell Receptor Sequencing Samples</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Gender</th>
          <th>Age</th>
          <th>Disease</th>
          <th>Draw Date</th>
          <th>Cell Type</th>
          <th>Summary</th>
        </tr>
      </thead>
      <tbody>
        {% for sample in samples %}
          <tr>
            <td>{{ sample.patient.name }}</td>
            <td>{{ sample.patient.gender }}</td>
            <td>{{ sample.patient.birthday }}</td>
            <td>{{ sample.patient.disease }}</td>
            <td>{{ sample.draw_date }}</td>
            <td>{{ sample.cell_type }}</td>
            <td><a href="{% url 'samples.views.summary' sample.id %}">Summary</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
