{% extends "base.html" %}
{% block content %}
<h1>T-cell Receptor Summary</h1>
<h2>{{ sample.patient.name }}, {{ sample.patient.disease }}</h2>
<h3>{{ sample.draw_date }}, {{ sample.cell_type }}</h3>
<form action="#" method="post">
  {% csrf_token %}
  <div class="filter_form">
    {{ filter_form.as_p }}
    <input type="submit" />
  </div>
</form>
<div>
  Number of recombinations: {{ clonofilter.count }} <br />
  Number of reads: {{ clonofilter.size }} <br />
  Normalized sum of reads: {{ clonofilter.norm_size }} <br />
</div>

<div><img src="{% url 'clonotypes.views.bubble_default' sample.id %}?clonofilter={{ clonofilter.id }}">
</div>

<div><img src="{% url 'clonotypes.views.spectratype_default' sample.id  %}?clonofilter={{ clonofilter.id }}">
</div>

<div><img src="{% url 'clonotypes.views.v_usage_graph' clonofilter.id  %}">
</div>

<div><img src="{% url 'clonotypes.views.j_usage_graph' clonofilter.id  %}">
</div>

<div><img src="{% url 'clonotypes.views.functionality_graph' clonofilter.id  %}">
</div>

<div><img src="{% url 'clonotypes.views.domination_graph' clonofilter.id  %}">
</div>


<a href="{% url 'clonotypes.views.all' sample.id %}">View all Clonotypes</a>
{% endblock %}
