html, body, table, th, label {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: 300;
  font-style: normal;
  font-size: 100%;
  font-family:  "Helvetica Neue", 'Open Sans', Helvetica, Arial, sans-serif;
  vertical-align: baseline; 
}

td,th {
padding-left: 10px;
padding-right: 10px;
}

h1, h2, h3 {
/*font-family:Garamond, Georgia, serif;*/
font-family: Georgia, serif;
  font-weight: 300;
  font-style: normal;
}

html, body {
  height: 100%;
}

body {
  padding-top:50px;
}

.row-padded{
padding: 25px;

}

.jumbotron {
  text-align:justify;
  text-justify:inter-word;
}

.container {
  padding: 30px;
  background-color: #efefef;
  border-radius:15px;
}

#holder {
  min-height: 100%;
  position: relative;
}

#content {
  margin: 50;
  width:100%;
}

#footer {
  width: 100%;
  left: 0;
  bottom: 0;
}

#sidenav {
  overflow; auto;
}

.popover {
  max-width: 500px;
}

span.toggle, span.glyphicon-remove {
  color: grey;
}

span.toggle:hover, span.glyphicon-remove:hover {
  color: darkgrey;
}

th {
  font-weight: 500;
}

.nucleotide {
  font-family: "Lucida Console", Monaco, monospace;
}

div.v_gene {
  background-color: #E6E6F5;
  border: #000099 1px solid;
}

span.v_gene {
  color: #000099;
}

div.d_gene {
  background-color: #EBCCF5;
  border: #660066 1px solid;
}

span.d_gene {
  color: #660066;
}

span.j_gene {
  color: #006600;
}

div.j_gene {
  background-color: #E6F0E6;
  border: #006600 1px solid;
}

div.n1_additions {
  background-color: #FFEBCC;
  border: #FF9900 1px solid;
}

span.n1_additions {
  color: #FF9900;
}

div.n2_additions {
  background-color: #F5CCCC;
  border: #CC0000 1px solid;
}

span.n2_additions {
  color: #CC0000;
}

div.recombination {
  border: 1px solid;
}

.center { float: none; margin-left: auto; margin-right: auto; }

.no-space [class*="span"]{
  margin-left: 0 !important;
  width: 25% !important; // This is for 4 elements ONLY in the row
}

.filter-form {
  padding: 10px;
  border-radius:6px;
  border: 1px solid;
}
.filter-expand {
  float: left;
}
.filter-close {
  float: right;
}


.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
  opacity: 0.3;
}
.axis text,
.legend text{
  font-size: 13px;
}

.axis text.title {
  font-weight: bold;

}
.tooltip {
  position: absolute;
  z-index: 10;
}

.grid .tick {
  stroke: lightgrey;
  opacity: 0.7;
}

.grid .path {
  stroke-width: 0;
}

path.shared-clones {
  opacity:0.35;
}
path.shared-clones.active {
  opacity:0.75;
}

path.active {
  stroke-width: 3px;
}

td.active {
  background-color: lightgrey;
}

.view {
  border-radius:6px;
  border: 1px solid rgb(231, 231, 231);
  padding: 0px;
  margin: 10px;
}

h3.view-title {
  background-color: #f8f8f8;
  border-bottom: 1px solid rgb(231, 231, 231);
  margin: 0px;
  padding: 10px;
  padding-left: 15px;
}

.view-content {
  padding: 10px;
}

span[class|="aa"] {
  font-family: "Lucida Console", Monaco, monospace;
}

span.aa-blue {
background:rgba(25, 127, 229, 0.4);
}

span.aa-red {
background:rgba(229, 51, 25, 0.4);
}

span.aa-green {
background:rgba(25, 204, 25, 0.4);
}

span.aa-pink {
background:rgba(229, 127, 127, 0.4);
}

span.aa-magenta {
background:rgba(204, 76, 204, 0.4);
}

span.aa-orange {
background:rgba(229, 153, 76, 0.4);
}

span.aa-cyan {
background:rgba(25, 178, 178, 0.4);
}

span.aa-yellow {
background:rgba(176, 176, 0, 0.4);
}
