html, body, table, th {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: 300;
    font-style: normal;
    font-size: 100%;
    font-family:  "Helvetica Neue", 'Open Sans', Helvetica, Arial, sans-serif;
    vertical-align: baseline;
}

#content {
  margin: 50;
  padding: 50;
}

th {
  font-weight: 500;
}

.nucleotide {
  font-family: "Lucida Console", Monaco, monospace

}

div.v_gene {
  background-color: #E6E6F5;
  border: #000099 1px solid;
}

span.v_gene {
  color: #000099;
}

div.d_gene {
  background-color: #EBCCF5;
  border: #660066 1px solid;
}

span.d_gene {
  color: #660066;
}

span.j_gene {
  color: #006600;
}

div.j_gene {
  background-color: #E6F0E6;
  border: #006600 1px solid;
}

div.n1_additions {
  background-color: #FFEBCC;
  border: #FF9900 1px solid;
}

span.n1_additions {
  color: #FF9900;
}

div.n2_additions {
  background-color: #F5CCCC;
  border: #CC0000 1px solid;
}

span.n2_additions {
  color: #CC0000;
}

div.recombination {
  border: 1px solid;
}

.center { float: none; margin-left: auto; margin-right: auto; }

.no-space [class*="span"]{
  margin-left: 0 !important;
  width: 25% !important; // This is for 4 elements ONLY in the row
}

.filter-form {
  margin-right: 15px;
  padding: 15px 15px 15px 15px;
  border: 1px solid
}

 .axis path,
  .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }
  .axis text {
    font-family: sans-serif;
    font-size: 11px;
  }
  .tooltip {
    position: absolute;
    z-index: 10;
  }

  .grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
  }

  .grid .path {
    stroke-width: 0;
  }
