<div>
  <table>
    <tr>
      <td>sample:</td>
      <td>{{clonotype.sample}}</td>
    </tr>
    <tr>
      <td>sequence_id:</td>
      <td>{{clonotype.sequence_id}}</td>
    </tr>
    <tr>
      <td>container:</td>
      <td>{{clonotype.container}}</td>
    </tr>
    <tr>
      <td>nucleotide:</td>
      <td>{{clonotype.nucleotide}}</td>
    </tr>
    <tr>
      <td>parsed nucleotide:</td>
      <td>{{clonotype.parsed_nucleotide}}</td>
    </tr>
    <tr>
      <td>amino_acid:</td>
      <td>{{clonotype.amino_acid}}</td>
    </tr>
    <tr>
      <td>normalized_frequency:</td>
      <td>{{clonotype.normalized_frequency}}</td>
    </tr>
    <tr>
      <td>normalized_copy:</td>
      <td>{{clonotype.normalized_copy}}</td>
    </tr>
    <tr>
      <td>raw_frequency:</td>
      <td>{{clonotype.raw_frequency}}</td>
    </tr>
    <tr>
      <td>copy:</td>
      <td>{{clonotype.copy}}</td>
    </tr>
    <tr>
      <td>cdr3_length:</td>
      <td>{{clonotype.cdr3_length}}</td>
    </tr>
    <tr>
      <td>v_family_name:</td>
      <td>{{clonotype.v_family_name}}</td>
    </tr>
    <tr>
      <td>v_gene_name:</td>
      <td>{{clonotype.v_gene_name}}</td>
    </tr>
    <tr>
      <td>v_ties:</td>
      <td>{{clonotype.v_ties}}</td>
    </tr>
    <tr>
      <td>d_gene_name:</td>
      <td>{{clonotype.d_gene_name}}</td>
    </tr>
    <tr>
      <td>j_gene_name:</td>
      <td>{{clonotype.j_gene_name}}</td>
    </tr>
    <tr>
      <td>j_ties:</td>
      <td>{{clonotype.j_ties}}</td>
    </tr>
    <tr>
      <td>v_deletion:</td>
      <td>{{clonotype.v_deletion}}</td>
    </tr>
    <tr>
      <td>d5_deletion:</td>
      <td>{{clonotype.d5_deletion}}</td>
    </tr>
    <tr>
      <td>d3_deletion:</td>
      <td>{{clonotype.d3_deletion}}</td>
    </tr>
    <tr>
      <td>j_deletion:</td>
      <td>{{clonotype.j_deletion}}</td>
    </tr>
    <tr>
      <td>n2_insertion:</td>
      <td>{{clonotype.n2_insertion}}</td>
    </tr>
    <tr>
      <td>n1_insertion:</td>
      <td>{{clonotype.n1_insertion}}</td>
    </tr>
    <tr>
      <td>sequence_status:</td>
      <td>{{clonotype.sequence_status}}</td>
    </tr>
    <tr>
      <td>v_index:</td>
      <td>{{clonotype.v_index}}</td>
    </tr>
    <tr>
      <td>n1_index:</td>
      <td>{{clonotype.n1_index}}</td>
    </tr>
    <tr>
      <td>n2_index:</td>
      <td>{{clonotype.n2_index}}</td>
    </tr>
    <tr>
      <td>d_index:</td>
      <td>{{clonotype.d_index}}</td>
    </tr>
    <tr>
      <td>j_index:</td>
      <td>{{clonotype.j_index}}</td>
    </tr>
  </table>
</div>
