<div>
sample:
    {{clonotype.sample}}
sequence_id:
    {{clonotype.sequence_id}}
container:
    {{clonotype.container}}
nucleotide:
    {{clonotype.nucleotide}}
amino_acid:
    {{clonotype.amino_acid}}
normalized_frequency:
    {{clonotype.normalized_frequency}}
normalized_copy:
    {{clonotype.normalized_copy}}
raw_frequency:
    {{clonotype.raw_frequency}}
copy:
    {{clonotype.copy}}
cdr3_length:
    {{clonotype.cdr3_length}}
v_family_name:
    {{clonotype.v_family_name}}
v_gene_name:
    {{clonotype.v_gene_name}}
v_ties:
    {{clonotype.v_ties}}
d_gene_name:
    {{clonotype.d_gene_name}}
j_gene_name:
    {{clonotype.j_gene_name}}
j_ties:
    {{clonotype.j_ties}}
v_deletion:
    {{clonotype.v_deletion}}
d5_deletion:
    {{clonotype.d5_deletion}}
d3_deletion:
    {{clonotype.d3_deletion}}
j_deletion:
    {{clonotype.j_deletion}}
n2_insertion:
    {{clonotype.n2_insertion}}
n1_insertion:
    {{clonotype.n1_insertion}}
sequence_status:
    {{clonotype.sequence_status}}
v_index:
    {{clonotype.v_index}}
n1_index:
    {{clonotype.n1_index}}
n2_index:
    {{clonotype.n2_index}}
d_index:
    {{clonotype.d_index}}
j_index:
    {{clonotype.j_index}}
</div>
