<div id="recombination_div">
  <div class="row">
    <div class="span9">
      <h3>{{recombination.parsed_nucleotide}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="span3 v_gene">
      <h4>V Gene: {{recombination.v_gene_name}}</h4>
      Family: V-{{recombination.v_family_name}}<br />
      V Ties: {{recombination.v_ties}}<br />
      3' Deletions: {{recombination.v_deletion}}
    </div>
    <div class="span3 d_gene">
      <h4>D Gene: {{recombination.d_gene_name}}</h4>
      5' Deletions: {{recombination.d5_deletion}}<br />
      3' Deletions: {{recombination.d3_deletion}}<br />
      &nbsp;
    </div>
    <div class="span3 j_gene">
      <h4>J Gene: {{recombination.j_gene_name}}</h4>
      J Ties: {{recombination.j_ties}}<br />
      5' Deletions: {{recombination.j_deletion}}<br />
      &nbsp;
    </div>
  </div>
  <div class="row">
    <div class="span3 recombination">
      CDR3 Length: {{recombination.cdr3_length}} <br />
      Sequence Status: {{recombination.sequence_status}}
    </div>
    <div class="span3 n2_additions">
      N2 Insertions: {{recombination.n2_insertion}}<br />
      &nbsp;
    </div>
    <div class="span3 n1_additions">
      N1 Insertions: {{recombination.n1_insertion}}<br />
      &nbsp;
    </div>
  </div>
</div>
