  <div id="recombination_div">
<table>
  <tr>
    <td>nucleotide:</td>
    <td>{{recombination.nucleotide}}</td>
  </tr>
  <tr>
    <td>parsed nucleotide:</td>
    <td>{{recombination.parsed_nucleotide}}</td>
  </tr>
  <tr>
    <td>cdr3_length:</td>
    <td>{{recombination.cdr3_length}}</td>
  </tr>
  <tr>
    <td>v_family_name:</td>
    <td>{{recombination.v_family_name}}</td>
  </tr>
  <tr>
    <td>v_gene_name:</td>
    <td>{{recombination.v_gene_name}}</td>
  </tr>
  <tr>
    <td>v_ties:</td>
    <td>{{recombination.v_ties}}</td>
  </tr>
  <tr>
    <td>d_gene_name:</td>
    <td>{{recombination.d_gene_name}}</td>
  </tr>
  <tr>
    <td>j_gene_name:</td>
    <td>{{recombination.j_gene_name}}</td>
  </tr>
  <tr>
    <td>j_ties:</td>
    <td>{{recombination.j_ties}}</td>
  </tr>
  <tr>
    <td>v_deletion:</td>
    <td>{{recombination.v_deletion}}</td>
  </tr>
  <tr>
    <td>d5_deletion:</td>
    <td>{{recombination.d5_deletion}}</td>
  </tr>
  <tr>
    <td>d3_deletion:</td>
    <td>{{recombination.d3_deletion}}</td>
  </tr>
  <tr>
    <td>j_deletion:</td>
    <td>{{recombination.j_deletion}}</td>
  </tr>
  <tr>
    <td>n2_insertion:</td>
    <td>{{recombination.n2_insertion}}</td>
  </tr>
  <tr>
    <td>n1_insertion:</td>
    <td>{{recombination.n1_insertion}}</td>
  </tr>
  <tr>
    <td>sequence_status:</td>
    <td>{{recombination.sequence_status}}</td>
  </tr>
  <tr>
    <td>v_index:</td>
    <td>{{recombination.v_index}}</td>
  </tr>
  <tr>
    <td>n1_index:</td>
    <td>{{recombination.n1_index}}</td>
  </tr>
  <tr>
    <td>n2_index:</td>
    <td>{{recombination.n2_index}}</td>
  </tr>
  <tr>
    <td>d_index:</td>
    <td>{{recombination.d_index}}</td>
  </tr>
  <tr>
    <td>j_index:</td>
    <td>{{recombination.j_index}}</td>
  </tr>
</table>
</div>
