html {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    vertical-align: baseline;
}

.filter_form {
  border: 1px solid black;
}

#content {
  float: clear;
}
