<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}TCR-B browser{% endblock %}</title>
    <link rel="icon" type="image/x-icon"
    href="{{ STATIC_URL }}images/favicon.ico" />
    {% block site_css %}
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet"
    type="text/css" media="screen"/>
    <link href="{{ STATIC_URL }}css/bootstrap-glyphicons.css" rel="stylesheet"
    type="text/css" media="screen"/>
    <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet"
    type="text/css" media="screen"/>

    {% endblock %}
    {% block css %}{% endblock %}

    {% block js_head %}
    <script type='text/javascript' src="{{ STATIC_URL }}libs/jquery-1.10.2.js"></script>
<script type='text/javascript' src="{{ STATIC_URL }}libs/jquery.cookie.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}libs/bootstrap.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}libs/site.js"></script>
<script type='text/javascript' src="{{ STATIC_URL }}libs/d3.v3.js" charset="utf-8"></script>
    {% endblock %}


    {% block extra_head %}{% endblock %}

  </head>

  <body>
    <div id="holder">
      <div id="header" class="row">
        {% block nav %}
        {% load dashboard_tags %}
        {% menu_tag %}

        <div class="col-md-3">
          {% block header_extra %}
          {% endblock %}
        </div>
        <div class="col-md-1">
          {% if user.is_authenticated %}
          <a href="{% url 'django.contrib.auth.views.logout' %}">Sign out</a>
          {% else %}
          <a href="{% url 'django.contrib.auth.views.login' %}">Login</a>
          <a href="{% url 'registration_register' %}">Register</a>
          {% endif %}
        </div>
        {% endblock %}
      </div>

      <div id="content" class="row">
        <div class="col-md-12">
        {% block content %}{% endblock %}
        </div>
      </div>

      <!--
      <div id="footer" class="row">
        {% block footer %}
        <div class="center md-col-12">
          footer information goes here
        </div>

        {% endblock %}
      </div>
    </div>
    -->

    {% block site_js %}
    {% endblock %}

    {% block js %}{% endblock %}
  </body>
</html>
