<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}TCR-B browser{% endblock %}</title>
    <link rel="icon" type="image/x-icon"
    href="{{ STATIC_URL }}images/favicon.ico" />
    {% block site_css %}
    <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet"
    type="text/css" media="screen"/>
    <link href="{{ STATIC_URL }}css/bootstrap-3rc2.css" rel="stylesheet"
    type="text/css" media="screen"/>
    <link href="{{ STATIC_URL }}css/bootstrap-glyphicons.css" rel="stylesheet"
    type="text/css" media="screen"/>

    {% endblock %}
    {% block css %}{% endblock %}

    {% block js_head %}
    <script type='text/javascript' src="{{ STATIC_URL }}libs/jquery-1.10.2.js"></script>
<script type='text/javascript' src="{{ STATIC_URL }}libs/jquery.cookie.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}libs/bootstrap-3rc2.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}libs/site.js"></script>
<script type='text/javascript' src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    {% endblock %}


    {% block extra_head %}{% endblock %}

  </head>

  <body>
    <div id="header" class="row">
      {% block header %}
        <div class="span12">
          <h1><a href="{% url 'dashboard.views.explorer' %}">UCSC Immunobrowser</a></h1>
        </div>
      {% endblock %}
    </div>

    <div id="content" class="row">
      {% block content %}{% endblock %}
    </div>

    <div id="footer" class="row">
      {% block footer %}
      <div class="center span12">
        footer information goes here
      </div>

      {% endblock %}
    </div>

    {% block site_js %}
    {% endblock %}

    {% block js %}{% endblock %}
  </body>
</html>
