<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}TCR-B browser{% endblock %}</title>
    <link rel="icon" type="image/x-icon"
    href="{{ STATIC_URL }}images/favicon.ico" />
    {% block site_css %}
    <link href="{{ STATIC_URL }}css/reset.css" rel="stylesheet"
    type="text/css" media="all"/>
    <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet"
    type="text/css" media="screen"/>
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet"
    type="text/css" media="screen"/>

    {% endblock %}
    {% block css %}{% endblock %}

    {% block js_head %}
    <script type='text/javascript' src="{{ STATIC_URL }}libs/jquery.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}libs/bootstrap.js"></script>
    {% endblock %}


    {% block extra_head %}{% endblock %}

  </head>

  <body>
    <div id="header">
      {% block header %}
      <div class="row">
        <div class="span12">
          <h1><a href="{% url 'dashboard.views.explorer' %}">UCSC Immunobrowser</a></h1>
        </div>
      </div>
      {% endblock %}
    </div>

    <div id="content">
      {% block content %}{% endblock %}
    </div>

    <div id="footer">
      {% block footer %}
      <div class="center span12">
        footer information goes here
      </div>

      {% endblock %}
    </div>

    {% block site_js %}
    {% endblock %}

    {% block js %}{% endblock %}
  </body>
</html>
