{% for cfid, rgba in active_colors.iteritems %}
div.cf-{{ cfid }}-active {
  background-color: {{rgba}}
}
circle.cf-{{ cfid }}.active {
  fill: {{rgba}}
}
{% endfor %}
{% for cfid, rgba in inactive_colors.iteritems %}
div.cf-{{ cfid }}.inactive {
  background-color: {{rgba}}
}
circle.cf-{{ cfid }}.inactive {
  fill: {{rgba}}
}

{% endfor %}
