{% extends "base.html" %}
{% load comparison_tags %}

{% block css %}
<style type="text/css" id="clonofilter-colors">
{% if comparison %}
 {% clonofilter_colors_tag comparison %}
{% endif %}
</style>
{% endblock %}


{% block extra_head %}
<script type='text/javascript' src="/static/libs/compare.js"></script>
<script type='text/javascript' src="{{ STATIC_URL }}libs/eventBus.js" charset="utf-8"></script>
<script type='text/javascript'>
window.eventBus = eventBus.new_eventBus()
</script>
{% endblock %}

{% block nav %}
{% load dashboard_tags %}
{% menu_tag 'cf_comparisons.views.compare_v3' %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="menu-filter col-md-3">
    <div id="filter-forms" class="row">
      {% if comparison %}
      {% filter_forms_tag comparison %}
      {% endif %}
    </div>
    <div id="add-sample" class="col-md-12 text-center">
      <a>
        <h1>+</h1><br />
        Add sample
      </a>
    </div>
    <div id="sample-compare" class="col-md-12 text-center">
    </div>
  </div>

  <div id="subcontent" class="col-md-3">
    Add a sample to get started!
    <div id="scatter-main" class="row">
      <h3>V-J usage <span class="glyphicon glyphicon-info-sign"></span></h3>
      <img src="{{STATIC_URL}}img/ajax-loader.gif">
    </div>
    <div id="functionality">
      <h3>Functionality <span class="glyphicon glyphicon-info-sign"></span></h3>
      <img src="{{STATIC_URL}}img/ajax-loader.gif">
    </div>
  </div>
</div>



{% if comparison %}
<script type='text/javascript'>


  // design a compare app controller for individual
  // d3 plots. 
  // This app should be able to load data on call
  // and update the view when a new comparison is called
  // for.

  // first i should write a function that loads the filter forms.
  // Although this can be done natively in the django template,
  // it makes sense to load everything via json in order to have
  // a consistent design pattern

  // load filter forms loading closure
var comparisonRefresh = function () {
  var filterFormDiv = d3.select("div#filter-forms");
  var clonofilterColors = d3.select("style#clonofilter-colors");
  var comparisonId;

  // update the forms
  var init = function() {
    refresh();
  }

  var refresh = function() {
    filterFormRefresh();
    clonofilterColorsRefresh();
    drawScatterNav();
  }

  var clonofilterColorsRefresh = function () {
    var url = '/compare/'+comparisonId+'/clonofilter_colors';
    $.get(url, function (d) {
        clonofilterColors.text(d);
        });
  }

  var filterFormRefresh = function () {
    var url = '/compare/'+comparisonId+'/filter_forms';
    $.get(url,
        function (d) {
        filterFormDiv.html(d);
        $('input#compare-update')
        .click(function() {
          console.log('click detected');
          var clonofilterForm = $('div#filter-forms form');
          //          event.preventDefault();
          var postData =clonofilterForm.serializeArray();
          if (comparisonId) {
          postData.push({'name':'comparison', 'value': comparisonId});
          }

          $.post('/compare/'+comparisonId+'/update_clonofilters',
            postData, function (compId) {
            console.log(compId);
            comparisonId = compId;
            refresh();
            });

          });

        });
    // update the colors
  }

  var drawScatterNav = function() {
    var vdjFreq, vList, jList, sampleNames;

    d3.json('/compare/'+comparisonId+'/vdj_freq_ajax', function(d) {
        vdjFreq = d['vdjFreq'];
        vList = d['vList'];
        jList = d['jList'];
        sampleNames = d['sampleNames'];
        scatNav();
        });

    var scatNav = function () {
      function namemap (n) {
        var names = n;
        return function(d) {
          return names[d];
        }
      };

      var my_xScale = d3.scale
        .ordinal()
        .domain(vList);

      var my_yScale = d3.scale
        .ordinal()
        .domain(jList);

      var my_rScale = d3.scale.linear()
        .domain([0, d3.max(vdjFreq, function(d) {
              return d[2];
              })
            ])
        .range([0, 24]);

      var my_names = namemap(sampleNames);

      var my_nav = scatterNav()
        .x(my_xScale)
        .y(my_yScale)
        .r(my_rScale)
        .sampleName(my_names);

      var navDiv = d3.select("#scatter-main");

      navDiv.html('');

      navDiv
        .datum(vdjFreq)
        .call(my_nav)
        ;
    }
  }

  init.filterFormDiv = function(value) {
    if(!arguments.length) return filterFormDiv;
    filterFormDiv = value;
    return init;
  }

  init.comparisonId = function(value) {
    if(!arguments.length) return comparisonId;
    comparisonId = value;
    return init;
  }

  return init;
}

$(function() {
    var test = comparisonRefresh().comparisonId({{comparison.id}});
    test();
    });

  </script>
  {% endif %}
  {% endblock %}
