{% extends "base.html" %}
{% load comparison_tags %}

{% block css %}
<style type="text/css">
  body { overflow: hidden; }
</style>
<style type="text/css" id="clonofilter-colors">
  {% if comparison %}
  {% clonofilter_colors_tag comparison %}
  {% endif %}
</style>
{% endblock %}


{% block extra_head %}
<script type='text/javascript' src="{{ STATIC_URL }}libs/compare.js"></script>
<script type='text/javascript' src="{{ STATIC_URL }}libs/spectratype.js"></script>
<script type='text/javascript' src="{{ STATIC_URL }}libs/scatternav.js"></script>
<script type='text/javascript' src="{{ STATIC_URL }}libs/functionality.js"></script>
<script type='text/javascript' src="{{ STATIC_URL }}libs/sharedClones.js"></script>
<script type='text/javascript' src="{{ STATIC_URL }}libs/EventBus.js" charset="utf-8"></script>
<script type='text/javascript'>
  window.eventBus = EventBus.newEventBus()
</script>
{% endblock %}

{% block nav %}
{% load dashboard_tags %}
{% menu_tag 'cf_comparisons.views.compare_v3' %}
{% endblock %}

{% block content %}
<div id="sidenav" class="col-md-3 pre-scrollable">
  <div class="btn-group">
    <button id="show-all" type="button" class="btn btn-default">Show All</button>
    <button id="hide-all" type="button" class="btn btn-default">Hide All</button>
    <button id="add-sample" type="button" class="btn btn-default">Add Sample</button>
  </div>
  <div id="sample-compare" class="row text-center" style="display: none">
    {% sample_compare_tag sample_compare_form%}
  </div>

  <div id="filter-forms"> 
    {% if comparison %}
    {% filter_forms_tag comparison %}
    {% endif %}
  </div>
</div>

<div id="subcontent" class="col-md-9 pre-scrollable">

  <div id="spectratype-main" class ="col-md-12 view">
      <h3 class="view-title">
        Spectratype 
        <button id="tooltip-spectratype" class="btn btn-default" data-container="body" data-toggle="popover" title 
          data-original-title="More Information about Spectratypes"
          data-content="A spectratype shows the abundance of clonotypes
          (Y-axis) based
          on the nucleotide length (X-axis) of the recombined CDR3 sequence. In
          a sample derived from the DNA of a healthy non-challenged individual, it is typical to see peaks at
          lengths that are modal-3 (or every third length). Such a pattern is
          occurs due to selection of protein-coding receptor sequences during T-cell
          developement. It is also typical to see peaks that are normally
          distributed in healthy individuals. Non-normal distributions often
          indicate an active expansion of clonotypes that often occurs during
          the adaptive immune response. 
          "
          data-placement="bottom">
          <span class="glyphicon glyphicon-info-sign"></span>
        </button>
      </h3>
    <div id="spectratype-content" class='view-content'>
      <img src="{{STATIC_URL}}img/ajax-loader.gif">
    </div>
  </div>


  <div id="functionality-main" class ="col-md-12 view">
      <h3 class='view-title'>
        Functionality 
        <button id="tooltip-functionality" class="btn btn-default" data-container="body" data-toggle="popover" title
          data-original-title="More Information about the Functionality plot"
          data-content="During the formation of a T-cell receptor, the VDJ
          recombination 
          process generates new nucleotide sequences that define the protein
          structure of the receptor itself. However, this process does not
          guarantee that each newly-generated receptor will produce a
          functional protein. A generated protein sequence can be: functional,
          contain a stop codon, or is out-of-frame. Generally samples from RNA
          will contain more functional receptors than a DNA sample."
          data-placement="bottom">

        <span class="glyphicon glyphicon-info-sign"></span>
      </button>
      </h3>
    <div id="functionality-content" class='view-content'>
      <img src="{{STATIC_URL}}img/ajax-loader.gif">
    </div>
  </div>

  <div id="scatter-main" class="col-md-12 view">
      <h3 class='view-title'>
        V-J usage 
<button id="tooltip-scatter" class="btn btn-default" data-container="body" data-toggle="popover" title
          data-original-title="More Information about the V-J Usage scatterplot"
          data-content="VDJ recombination is a combinatorial process that
          randomly joins V, D and J gene segments to produce a final T-cell
          receptor. This plot shows the frequencies of each V-J pair. Larger
          circles indicate higher frequencies for that pair. Histograms to the
          right and below the scatter plot are histograms showing usage of
          V or J genes. Highlighting a V or J gene label will the J or V usage
          of that particular gene."
          data-placement="bottom">

        <span class="glyphicon glyphicon-info-sign"></span>
      </button>
      </h3>
    <div id="scatter-content" class='view-content'>
      <img src="{{STATIC_URL}}img/ajax-loader.gif">
    </div>
  </div>

  <div id="shared-clones-main" class="col-md-12 view">
      <h3 class='view-title'>
        Shared Clones 
<button id="tooltip-shared-clones" class="btn btn-default" data-container="body" data-toggle="popover" title
          data-original-title="More Information about Shared Clones"
          data-content="Multiple samples can share the same CDR3 sequence. Here
          we show the frequencies of identical amino acid sequences between
          samples."
          data-placement="bottom">
        <span class="glyphicon glyphicon-info-sign"></span>
      </button>
      </h3>
    <div id="shared-clones-content" class='view-content'>
      <img src="{{STATIC_URL}}img/ajax-loader.gif">
    </div>
  </div>

</div>

<script type='text/javascript'>
  // design a compare app controller for individual
  // d3 plots. 
  // This app should be able to load data on call
  // and update the view when a new comparison is called
  // for.

  // first i should write a function that loads the filter forms.
  // Although this can be done natively in the django template,
  // it makes sense to load everything via json in order to have
  // a consistent design pattern

  // load filter forms loading closure

  $(function() {
    var test = comparisonRefresh();
    test.comparisonId({{comparison.id}});
    test();
  });
</script>
{% endblock %}
