{% extends "base.html" %}
{% load comparison_tags %}

{% block css %}
<style type="text/css" id="clonofilter-colors">
{% if comparison %}
 {% clonofilter_colors_tag comparison %}
{% endif %}
</style>
{% endblock %}


{% block extra_head %}
<script type='text/javascript' src="{{ STATIC_URL }}libs/compare.js"></script>
<script type='text/javascript' src="{{ STATIC_URL }}libs/scatternav.js"></script>
<script type='text/javascript' src="{{ STATIC_URL }}libs/functionality.js"></script>
<script type='text/javascript' src="{{ STATIC_URL }}libs/sharedClones.js"></script>
<script type='text/javascript' src="{{ STATIC_URL }}libs/EventBus.js" charset="utf-8"></script>
<script type='text/javascript'>
window.eventBus = EventBus.newEventBus()
</script>
{% endblock %}

{% block nav %}
{% load dashboard_tags %}
{% menu_tag 'cf_comparisons.views.compare_v3' %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="menu-filter col-md-3">
    <div id="filter-forms" class="row">
      {% if comparison %}
      {% filter_forms_tag comparison %}
      {% endif %}
    </div>
    <div id="add-sample" class="col-md-12 text-center">
      <a>
        <h1>+</h1><br />
        Add sample
      </a>
    </div>
    <div id="sample-compare" class="col-md-12 text-center" style="display: none">
      {% sample_compare_tag sample_compare_form%}
    </div>
  </div>

  <div id="subcontent" class="col-md-3">
    Add a sample to get started!
    <div id="scatter-main" class="row">
    <div id="scatter-header" class="col-md-12">
      <h3>V-J usage <span class="glyphicon glyphicon-info-sign"></span></h3>
    </div>
    <div id="scatter-content" class="row">
      <img src="{{STATIC_URL}}img/ajax-loader.gif">
    </div>
    </div>
    <div id="functionality-main" class ="row">
    <div id="functionality-header" class="col-md-12">
      <h3>Functionality <span class="glyphicon glyphicon-info-sign"></span></h3>
    </div>
    <div id="functionality-content">
      <img src="{{STATIC_URL}}img/ajax-loader.gif">
    </div>
    </div>
  </div>
</div>

<script type='text/javascript'>
  // design a compare app controller for individual
  // d3 plots. 
  // This app should be able to load data on call
  // and update the view when a new comparison is called
  // for.

  // first i should write a function that loads the filter forms.
  // Although this can be done natively in the django template,
  // it makes sense to load everything via json in order to have
  // a consistent design pattern

  // load filter forms loading closure

$(function() {
    var test = comparisonRefresh();
    test.comparisonId({{comparison.id}});
    test();
    });
</script>
{% endblock %}
