<div name="counts_table">
  <table class="table">
    <tr>
      <th>Sample
      </th>
      <th>Number of Recombinations
      </th>
      <th>Raw Counts
      </th>
      <th>Normalized Counts
      </th>
    </tr>
    {% for clonofilter in comparison.clonofilters.all %}
    <tr>
      <td><a href="{% url 'samples.views.summary' clonofilter.sample.id %}?clonofilter={{ clonofilter.id }}">{{ clonofilter.sample }}</a>
      </td>
      <td>{{ clonofilter.count }} 
      </td>
      <td>{{ clonofilter.size }}
      </td>
      <td>{{ clonofilter.norm_size }}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>

<div class="bubble_wrapper">
  <img src="{% url 'cf_comparisons.views.bubble' comparison.id %}">
</div>

<div class="spectratype_wrapper">
  <img src="{% url 'cf_comparisons.views.spectratype' comparison.id %}">
</div>

<div class="shared_clonotype_wrapper">
  <table class="table">
    <tr>
      <th>
        Amino Acid Sequence
      </th>
      {% for sample in samples %}
      <th>
        {{ sample }}
      </th>
      {% endfor %}
    </tr>

    {% for id, aa in shared_amino_acids.items %}
    <tr>
      <td>
        <a href="{% url 'clonotypes.views.amino_acid_detail' id %}">
          {{ aa.sequence }}</a>
      </td>
      {% for clonotype in aa.related_clonotypes %}
      <td class="clonotype">
        <a href="{% url 'clonotypes.views.detail' clonotype.id %}">
          {{ clonotype.sample }}: {{ clonotype.copy }}</a>
      </td>

      {% endfor %}
    </tr>
    {% endfor %}
  </table>

</div>
