{% extends "base.html" %}
{% block content %}
<div class="filter_wrapper" style="float:left">
  <form action="#" method="post">
    {% csrf_token %}
    <input type="hidden" name="num_forms" value="{{ num_forms }}">
    {% for filter_form in filter_forms %}
    <div class="filter_form" style="float:left">
      {{ filter_form.as_p }}
    </div>
    {% endfor %}
    <input type="submit" />
  </form>
</div>

</div>
<div class="bubble_wrapper">
  <img src="{% url 'cf_comparisons.views.bubble' comparison.id %}">
</div>
<div class="shared_clonotype_wrapper">
  <table>
    <th>
    </th>
    {% for aa, count_dict in shared_clonotypes.items %}
    <tr>
      <td>
        {{ aa.sequence }}
      </td>
    {% for sample, count in count_dict.items %}
      <td class="clonotype">
        {{ sample }}: {{ count }}
      </td>
    {% endfor %}
      <td>
        <a href="{% url 'clonotypes.views.amino_acid_detail' aa.id %}">Details</a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
