{% load my_filters %}

<div id="filter_wrapper" class="row">
  <div class="col-md-12">
    <form action="#" method="post">
      <input type="button" value="Update" class="btn btn-default btn-lg" id="compare-update"/>
      {% csrf_token %}
      <input type="hidden" name="num_forms" value="{{ num_forms }}">
      {% for clonofilter, filter_form in filter_forms.iteritems %}
      <div class="row">
        <div class="filter-form accordian col-md-12 {{clonofilter.css_class}}"
          id="filter-cf-{{clonofilter.id}}">
          <div class="filter-head">
              <div class="filter-expand"><span id="toggle-cf-{{clonofilter.id}}" class="toggle glyphicon glyphicon-chevron-down"></span>
              </div>
            <div class="filter-close">
              <span id="remove-{{clonofilter.id}}" class="glyphicon glyphicon-remove"></span>
            </div>

            <!--<a class="accordion-toggle" data-toggle="collapse"
              data-parent="filter-cf-{{clonofilter.id}}" href="#collapse-cf-{{clonofilter.id}}"> -->
            {{ clonofilter.sample }}
              <!-- </a> -->
          </div>
          <div id="collapse-cf-{{clonofilter.id}}" class="filter-body accordion-body in" style="height: auto;">
            {{ filter_form.non_field_errors }}
            <input type="hidden" name="{{clonofilter.id}}-sample" id="id_{{clonofilter.id}}-sample"
            value="{{clonofilter.sample.id}}">
            <div class="fieldWrapper">
              {{ filter_form.min_copy.errors }}
              <label for="id_{{clonofilter.id}}-min_copy">Min Copy:</label>
              {{ filter_form.min_copy }}
            </div>
            <div class="fieldWrapper">
              {{ filter_form.max_copy.errors }}
              <label for="id_{{clonofilter.id}}-max_copy">Max Copy:</label>
              {{ filter_form.max_copy }}
            </div>
            <div class="fieldWrapper">
              {{ filter_form.min_length.errors }}
              <label for="id_{{clonofilter.id}}-min_length">Min Length:</label>
              {{ filter_form.min_length }}
            </div>
            <div class="fieldWrapper">
              {{ filter_form.max_length.errors }}
              <label for="id_{{clonofilter.id}}-max_length">Max Length:</label>
              {{ filter_form.max_length}}
            </div>
            <div class="fieldWrapper">
              {{ filter_form.norm_factor.errors }}
              <label for="id_{{clonofilter.id}}-norm_factor">Normalization Factor:</label>
              {{ filter_form.norm_factor }}
            </div>
            <div class="fieldWrapper">
              {{ filter_form.v_family_name.errors }}
              <label for="id_{{clonofilter.id}}-v_family_name">V Family Name:</label>
              {{ filter_form.v_family_name}}
            </div>
            <div class="fieldWrapper">
              {{ filter_form.j_gene_name.errors }}
              <label for="id_{{clonofilter.id}}-j_gene_name">J Gene Name:</label>
              {{ filter_form.j_gene_name }}
            </div>

          </div>
        </div>
      </div>
      {% endfor %}
    </form>
  </div>
</div>
