{% load my_filters %}
<table class="table">
  <tr>
    <th>
      Shared Amino Acid Sequence
    </th>
    {% for cfid, sample_name in sample_names.items %}
    <th class="cf-{{cfid}}">
      {{sample_name}}
    </th>
    {% endfor %}
  </tr>
  {% for aa_id, values in amino_acids.items %}
  <tr class="aa-{{aa_id}}">
    <td>
      <a href="{% url 'clonotypes.views.amino_acid_detail' aa_id %}">{{values.sequence}}</a>
    </td>
    {% for cfid, sample_name in sample_names.items %}
    <td class="cf-{{cfid}}">
      {{values.clonofilters|lookup:cfid}}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
