{% extends "base.html" %}
{% load comparison_tags %}
{% block css %}
<style type="text/css">
{% if comparison %}
 {% color_styles_tag comparison %}
{% endif %}

</style>
{% endblock %}

{% block nav %}
{% load dashboard_tags %}
{% menu_tag 'dashboard.views.compare_v2' %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="menu-filter col-md-3">
    <div id="filter-forms" class="row">
      {% if comparison %}
      {% filter_forms_tag comparison %}
      {% endif %}
    </div>
    <div id="add-sample" class="col-md-12 text-center">
      <a>
        <h1>+</h1><br />
        Add sample
      </a>
    </div>
    <div id="sample-compare" class="col-md-12 text-center">
      {% sample_compare_tag sample_compare_form%}
    </div>
  </div>

  <div id="subcontent" class="col-md-3">
    {% if comparison %}
    {% scatter_nav_tag comparison %}
    {% shared_clones_tag comparison %}
    {% else %}
    Add a sample to get started
    {% endif %}
  </div>
</div>


<script>
  // specific code
  {% autoescape off %}
  var comparisonId = '{{comparison.id}}';
  {% endautoescape %}

  // dashboard universal code

  var sampleCompareDiv = $('div#sample-compare');
  var addSampleDiv = $('div#add-sample');
  var sampleSubmit = $('div#sample-compare :submit');
  var sampleCancel = $('div#sample-compare :button');
  var sampleForm = $('div#sample-compare form');
  var sampleRemoveGlyphs;
  var filterForms;

  // In here, things that don't change upon interacting with the sample form
  var init = function () {
    // Make sure the sample compare div is hidden
    sampleCompareDiv.hide();
    // Shows add sample form when add sample is clicked
    addSampleDiv.click(function () {
      sampleCompareDiv.show();
      addSampleDiv.hide();
    });
    // Hides add sample form when cancel button is clicked
    sampleCancel.click(function () {
      sampleCompareDiv.hide();
      addSampleDiv.show();
    });

  }

  var update = function () {
    // Binds removal of clonofilter from comparison to glyphicon-remove
    sampleRemoveGlyphs = $('.glyphicon-remove');
    sampleRemoveGlyphs.click(closeFunction);

    // Hide filters after some predetermined amount of time
    setTimeout(function() {
    $('.accordion-body').collapse('hide');
    },
    1000);


    // Change opacity of filter form on mouse over
    filterForms = $('div.filter-form');
    filterForms
    .on("mouseover", function () {
      // lower opacity of all elements associated with cf
//    $(this).removeClass("inactive").addClass("active");
    })
    .on("mouseleave", function () {
      // raise opacity of all elements associated with cf
//    $(this).removeClass("active").addClass("inactive");
    })
    .click(function () {
    var body = $(this).find('.accordion-body')
    if (body.length) {
    body.collapse('show')
    body.removeClass('accordion-body').addClass('accordion-body-disabled');
    }
    else {
    body = $(this).find('.accordion-body-disabled');
    body.removeClass('accordion-body-disabled').addClass('accordion-body');
    body.collapse('hide');
    }
    })
    ;
    };

    sampleSubmit.click(function () {
    event.preventDefault();
    var postData = sampleForm.serializeArray();
    if (comparisonId) {
    postData.push({'name':'comparison', 'value': comparisonId});
    }

    sampleCompareDiv.hide();
    addSampleDiv.show();

    console.log(postData);

    $.post('{% url 'dashboard.views.add_samples_v2' %}',
    postData, function (compId) {

    // Load filter forms
    $.get("/compare/" + compId + "/filter_forms",
    function(filterForms) {
    $('div#filter-forms').html(filterForms)
    update();
    });

    // Update global comparisonId variable
    comparisonId = compId

    // Modify url bar
    // Should modify this javascript to use 
    // a django template tag for 'dashboard.views.compare_v2'
    window.history.pushState(null, '', '/compare/' + compId);
    });


    });


    var closeFunction = function() {
    cfId = $(this).attr('id').match(/\d+/)[0];
    postData = [{'name':'comparison', 'value': comparisonId},
    {'name':'clonofilter', 'value': cfId}];
    $.post('{% url 'dashboard.views.remove_clonofilter' %}',
    postData, function (compId) {
    comparisonId = compId;
    window.history.pushState(null, '', '/compare/' + compId);
    // Load filter forms
    $.get("/compare/" + compId + "/filter_forms",
    function(filterForms) {
    $('div#filter-forms').html(filterForms)
    update();
    });
    });

    };

    init();
    update();

  </script>
  {% endblock %}
