{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}libs/jqtree.css">
{% endblock %}
{% block content %}


<div class="row">
  <div class="span4">
    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            Sample Navigator
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
          <div class="accordion-inner">
            <div id="tree1">
              <ul>
                {% for patient in patients %}
                <li>
                <a href="{% url 'patients.views.patient_summary' patient.id %}">{{ patient }}</a>
                <input type="checkbox" id="patient_{{ patient.id }}">
                <ul>
                  {% for sample in patient.sample_set.all %}
                  <li><a href="{% url 'samples.views.summary' sample.id %} ">{{ sample }}</a>
                  <input type="checkbox" id="sample_{{ sample.id }}">
                  </li>
                  {% endfor %}
                </ul>
                </li>

                {% endfor %}
              </ul>

            </div>
            <input type="button" value="Compare">
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse"
            data-parent="#accordion2" href="#collapseTwo"
            id="filter_form_toggle">
            Samples in Comparison
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner">
            <div id="filter_forms_div">
              Empty
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div id="main" class="span8">

        {% load comparison_tags %}{% comparison_tag comparison %}

  </div>
</div>

{% endblock %}

{% block site_js %}
<script type='text/javascript' src="{{ STATIC_URL }}libs/tree.jquery.js"></script>
<script type='text/javascript' src="{{ STATIC_URL }}libs/jquery.cookie.js"></script>

<script type='text/javascript' src="{{ STATIC_URL }}dashboard/dashboard.js"></script>
{% endblock %}
