{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}libs/jqtree.css">
{% endblock %}
{% block content %}

<div id="tree1"></div>
<input type="button" value="Add To Comparison">
<input type="button" value="Compare">
{% endblock %}

{% block site_js %}
<script type='text/javascript' src="{{ STATIC_URL }}libs/tree.jquery.js"></script>
<script type='text/javascript' src="{{ STATIC_URL }}libs/jquery.cookie.js"></script>

<script>
  $(function() {


    $.getJSON(
    '{% url 'dashboard.views.menu_json' %}',
    function(data) {
      var $tree = $('#tree1');
      $tree.tree({
        data: data,
      });

      $(":button").click(function() {
        console.log(JSON.stringify($tree.tree('getSelectedNodes')))
      });

      $tree.bind('tree.click',
      function(e) {
        e.preventDefault();
        var selected_node = e.node;

        if($tree.tree('isNodeSelected', selected_node)) {
          $tree.tree('removeFromSelection', selected_node);
        }
        else {
          if(selected_node.children.length == 0) {
            $tree.tree('addToSelection', selected_node);
          }
        }

        if(!selected_node.is_open) {
          $tree.tree('toggle', selected_node);
          $.each(selected_node.children, function(index, child_node) {
            $tree.tree('addToSelection', child_node);
          });
        }
        else {
          var num_selected_children = 0;
          $.each(selected_node.children, function(index, child_node) {
            if($tree.tree('isNodeSelected', child_node)) {
              num_selected_children++;
            }
          });
        }
        if (num_selected_children == selected_node.children.length) {
          $.each(selected_node.children, function(index, child_node) {
            $tree.tree('removeFromSelection', child_node);
          });
        }
        else {
          $.each(selected_node.children, function(index, child_node) {
            $tree.tree('addToSelection', child_node);
          });
        }
      });
      console.log(data);
    }
    );
  });
</script>
{% endblock %}
