{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}libs/jqtree.css">
{% endblock %}
{% block content %}

<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Sample Navigator
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        <div id="tree1">
          <ul>
            {% for patient in patients %}
            <li>
            <a href="{% url 'patients.views.patient_summary' patient.id %}">{{ patient }}</a>
            <input type="checkbox" id="patient_{{ patient.id }}">
            <ul>
              {% for sample in patient.sample_set.all %}
              <li><a href="{% url 'samples.views.summary' sample.id %} ">{{ sample }}</a>
              <input type="checkbox" id="sample_{{ sample.id }}">
              </li>
              {% endfor %}
            </ul>
            </li>

            {% endfor %}
          </ul>

        </div>
        <input type="button" value="Add To Comparison">
        <input type="button" value="Compare">
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Samples in comparison
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        Placeholder
      </div>
    </div>
  </div>
</div>




<div id="main">
</div>

{% endblock %}

{% block site_js %}
<script type='text/javascript' src="{{ STATIC_URL }}libs/tree.jquery.js"></script>
<script type='text/javascript' src="{{ STATIC_URL }}libs/jquery.cookie.js"></script>

<script>
  $(function() {


    $.getJSON(
    '{% url 'dashboard.views.menu_json' %}',
    function(data) {
      // Get csrf token
      var csrftoken = $.cookie('csrftoken');

      // set header
      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
      }
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
            // Send the token to same-origin, relative URLs only.
            // Send the token only if the method warrants CSRF protection
            // Using the CSRFToken value acquired earlier
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });

      // build jqTree
      var $tree = $('#tree1');
      $tree.tree({
        data: data,
      });

      // submit array of primary keys to add_samples view
      $(":button").click(function() {
        $selectedNodes = $tree.tree('getSelectedNodes');
        var selectedNodeKeys = [];
        $.each($selectedNodes, function(index, node) {
          selectedNodeKeys.push(node.pk);
        });
        console.log(JSON.stringify(selectedNodeKeys))
        $.post("{% url 'dashboard.views.add_samples' %}", {
          sample_ids: JSON.stringify(selectedNodeKeys),
          }, function(data) {
          $('div#main').html(data);
        });

      });

      // modify default tree behavior
      $tree.bind('tree.click',
      function(e) {
        e.preventDefault();
        var selected_node = e.node;

        if($tree.tree('isNodeSelected', selected_node)) {
          $tree.tree('removeFromSelection', selected_node);
        }
        else {
          if(selected_node.children.length == 0) {
            $tree.tree('addToSelection', selected_node);
          }
        }

        if(!selected_node.is_open) {
          $tree.tree('toggle', selected_node);
          $.each(selected_node.children, function(index, child_node) {
            $tree.tree('addToSelection', child_node);
          });
        }
        else {
          var num_selected_children = 0;
          $.each(selected_node.children, function(index, child_node) {
            if($tree.tree('isNodeSelected', child_node)) {
              num_selected_children++;
            }
          });
        }
        if (num_selected_children == selected_node.children.length) {
          $.each(selected_node.children, function(index, child_node) {
            $tree.tree('removeFromSelection', child_node);
          });
        }
        else {
          $.each(selected_node.children, function(index, child_node) {
            $tree.tree('addToSelection', child_node);
          });
        }
      });
      console.log(data);
    }
    );
  });
</script>
{% endblock %}
