{% extends 'base.html' %}
{% block extra_head %}
<link href="{{ STATIC_URL }}css/help.css" rel="stylesheet"
type="text/css" media="screen"/>
{% endblock %}
{% block nav %}
{% load dashboard_tags %}
{% menu_tag 'dashboard.views.help' %}
{% endblock %}

{% block content %}

<div class="col-md-3">
  <div class="bs-sidebar hidden-print affix" role="complementary">
    <ul class="nav bs-sidenav">
      <li>
      <a href="#overview">
        Overview
      </a>
      </li>
      <li>
      <a href="#immune-system">
        Immune System
      </a>
      <ul class="nav">
        <li>
        <a href="#adaptive-immunity">
          Adaptive Immunity
        </a>
        </li>
        <li>
        <a href="#t-cells">
          T-Cells
        </a>
        </li>

        <li>
        <a href="#tcr">
          T-Cell Receptor
        </a>
        </li>

        <li>
        <a href="#vdj-recombination">
          VDJ Recombination
        </a>
        </li>
        <li>
        <a href="#mhc">
          MHC/HLA
        </a>
        </li>
        <li>
        <a href="#repertoire">
          Shaping the Repertoire
        </a>
        </li>
      </ul>
      </li>
      <li>
      <a href="sequencing">
        Sequencing
      </a>

      <ul class="nav">
        <li>
        <a href="#cell-isolation">
          Cell Isolation
        </a>
        </li>
        <li>
        <a href="#amplification">
          TCR Amplification
        </a>
        </li>
        <li>
        <a href="#sequencing">
          High Throughput Sequencing
        </a>
        </li>
      </ul>
      </li>

      <li>
      <a href="#immunobrowser">
        Immunobrowser
      </a>
      </li>

      <li>
      <a href="#contact">
        Contact
      </a>
      </li>

      <li>
      <a href="#citing">
        Citations and Copyright
      </a>
      </li>

      <li>
      <a href="#references">
        References
      </a>
      </li>
    </ul>
  </div>
</div>


<div class="col-md-9" role="main">

  <div class="page-header">
    <h1 id="overview">Overview</h1>
  </div>
  <!-- Overview text -->
  <p>
  The UCSC Immunobrowser enables powerful insights into the current state of an
  individual’s adaptive immune system. Populations of T-cells can be tracked by
  the unique genetic sequence signature present in the Beta chain of the
  specialized T-cell Receptor (TCRB). These signatures are extracted from blood
  samples using state of the art sequencing techniques. Billions of datapoints
  are transformed into a concise and interactive browser that provides repertoire
  level snapshots of an individual, while also preserving the power to
  interrogate individual TCRB sequences. It is capable of identifying immunogenic
  challenges in an individual, identifying the populations of T-cells actively
  fighting infection and leverages the entire expanse of scientific literature
  for clues to its disease specificity.
  </p>

  <div class="page-header">
    <h1 id="immune-system">Immune System</h1>
  </div>
  <p>
  The immune system fights off foreign invaders using two components: the
  innate immune system and the adaptive immune system. The innate immune
  response is the first line of defense during an infection. Its specialized
  proteins and cells rapidly target pathogen-associated molecular patterns (PAMPs)
  which are shared by common infectious agents. The adaptive immune
  response generates a response specific to each invading pathogen. Subsequent
  infections with the same pathogen will illicit a stronger and faster adaptive
  response.
  </p>

  <table class="table">
    <tr>
      <th>
        Property
      </th>
      <th>
        Innate
      </th>
      <th>
        Adaptive
      </th>
    </tr>
    <tr>
      <th>
        Response Time
      </th>
      <td>
        Instant
      </td>
      <td>
        <ul>
          <li>
          Initial: 5-7 days
          </li>
          <li>
          Reinfection: 2-3 days
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <th>
        Specificity
      </th>
      <td>
        Pathogen-associated moleculare patterns (PAMPs) shared by common
        infectious agents
      </td>
      <td>
        Targets only invading pathogen
      </td>
    </tr>
    <tr>
      <th>
        Memory
      </th>
      <td>
        No memory-- same response to each infection
      </td>
      <td>
        Reactivation of specific response
      </td>
    </tr>
    <tr>
      <th>
        Cell Types
      </th>
      <td>
        <ul>
          <li>
          Natural Killer Cells
          </li>
          <li>
          Monocytes
          </li>
          <li>
          Macrophages
          </li>
          <li>
          Neutrophils
          </li>
        </ul>
      </td>
      <td>
        <ul>
          <li>
          B-cells
          </li>
          <li>
          Helper T-cells (CD4+)
          </li>
          <li>
          Cytotoxic T-cells (CD8+)
          </li>
        </ul>
      </td>
    </tr>

  </table>

  <h2 id="adaptive-immunity">Adaptive Immunity</h2>
  <p>
  Specificity, diversity, memory and self-nonself recognition are the
  cornerstones of the adaptive immune system. The adaptive immune system is
  capable of generating a specific response to a diverse array of foreign
  invaders. A foreign invader that is recognized by the adaptive immune system is
  known as an antigen and can be bacterial, viral or of other origin. The
  adaptive immune system also has a memory of past infections. The
  adaptive immune system generally takes from 5-7 days to begin its first response to a
  foreign antigen. However the response to a subsequent exposure can
  occur in as little as 2-3 days and is greater in intensity. Given
  the ability of the adaptive immune system to mount effective antigen-specific
  responses, it is amazing that the immune system can recognize and avoid the
  large number of self-antigens present within the human body. 
  </p>

  <p>
  Although many cell types are involved in the adaptive immune response, B-cells and
  T-cells play major roles in the adaptive immune system. Each B-cell and T-cell
  produces a receptor with highly variable structures that have the capacity to
  bind selectively to an antigen. These receptors are generated by a random
  process known as VDJ recombination and initial specificty to an antigen is
  purely due to chance. B-cells are responsible for humoral immunity,
  i.e. they produce antibodies that can neutralize invaders and mark them for
  phagocytosis by other leukocytes. T-cells activate B-cells leading to
  antibody production and are also able to kill self-cells that are infected by
  pathogens.
  </p>
  <p>
  In order for a T-cell to carry out these specific functions, it must be
  activated. Activated T-cells undergo clonal expansion, generating many
  genetically identical T-cells that can carry out different functions. Clonal
  expansion of a T-cell can be tracked by its unique receptor sequence and is
  indicative of an active immune response.
  </p>

  <h2 id="t-cells">T-cells</h2>
  <p>
Both T-cells and B-cells recognize specific antigens through their
receptors which share many similarities. 
Whereas B-cells can bind directly to a pathogen, T-cells must bind to a complex
of digested antigenic peptide bound to an MHC complex.
They are divided into
two major populations: T-helper cells (TH) and Cytotoxic T-cells (TC). TH
cells express a surface protein (CD4) that binds to MHC class II peptides when
presented on specialized antigen presenting cells (APC) such as B-cells,
dendritic cells and macrophages. TH cells activate B-cells and regulate the
immune response by producing cytokines. TC cells express CD8, a receptor that
binds to MHC class I peptides when presented on most nucleated cells. TC cells
can kill self cells that have been infected by pathogens, such as viruses or
bacteria.
</p>
  <h2 id="tcr">T-cell Receptor</h2>
  <p>
  All T-cells express a T-cell Receptor (TCR), a membrane bound protein that is
  composed of a dimer of two protein subunits. The vast majority of T-cells
  (~95%) express an alpha-beta TCR, whereas the remaining T-cells express a
  gamma-delta TCR. The role of gamma-delta TCR expressing T-cells have yet to
  be elucidated. Here we concentrate on T-cells expressing the alpha-beta TCR,
  whose functions have been well studied and make up the TH and TC populations.
  </p>
  <p>
  The receptor itself is structurally similar to an antibody and when fully
  recombined is a member of the antibody-fold superfamily. The portion with
  antigenic specificity is encoded in three complementarity determining regions
  (CDR) and is flanked by four framework regions. CDR's 1 and 2 are encoded
  directly in the human genome. However, CDR3 is generated during development
  by a process known as VDJ recombination.
  </p>

  <div class="thumbnail">
    <a href="{{STATIC_URL}}/img/help/1tcr.gif"><img src="{{STATIC_URL}}/img/help/1tcrs.gif"></a>
    <div class="caption">
      <h3>T Cell Receptor Structure</h3>
      <p>An illustration of a T-cell receptor. The alpha and beta chains are
      represented as violet and blue structures. The grey box represents the
      membrane and the colored lines crossing it represent the transmembrane
      domain of the TCR, which was removed prior to X-ray crystallography. This
      figure is used with permission from RSCB and Mike Goodsell.</p>
    </div>
  </div>


  <h2 id="vdj-recombination">VDJ Recombination</h2>

  <p>
Recombination is the molecular process that gives B-cells and T-cells their
diversity. In the process of recombination, each B-cell and T-cell precursor
undergo genome-level rearrangement of multiple gene segments to create a novel
somatic DNA sequence. The rearranged DNA sequence defines the shape of its
receptor. Recombination contains multiple steps including combinatorial
junction joining, junctional flexibility, P-addition, and N-addition. When
combined with the joining of heavy and light chains, the resulting possible
number of sequences in the repertoire is estimated to be between 10^15-10^20 for
T-cells and is similarly large for B-cells.
</p>
<p>
Combinatorial junction joining is the process in which V, D and J segments are
joined together randomly. Each V and J segment contain conserved
sequences for the formation of the immunoglobulin fold, but differ
significantly at the sequence level. Combinatorial joining of individual V, D
and J segments account for
2.25 x 10^6 and 5.29 x 10^6 possible combinations in BCRs and TCRs. TCR-β and IgH
chains recombine V, D and J units while TCR-α, Igλ and Igκ recombine only the V
and J segments.
</p>
<p>
During the joining of V, D, or J segments, genetic sequence may be altered by
deletion or by addition of palindromic sequence at the junctions of a segment
(P-addition). These additions are a result of the joing process that creates a
hairpin at the end of each segment and creates a nick randomly. Following the
creation of a nick, random nucleotides are added by Terminal deoxyribonucleic
acid 
transferase. These deletions and additions account for much of the diversity
found in recombined TCRs.
</p>

  <h2 id="mhc">MHC/HLA</h2>

  <h2 id="activation">Activation</h2>

  <h2 id="repertoire">Shaping the TCR Repertoire</h2>


  <div class="page-header">
    <h1 id="sequencing">Sequencing</h1>
  </div>

  <h2 id="cell-isolation">Cell Isolation</h2>

  <h2 id="amplification">TCR Amplification</h2>

  <h2 id="hts">High Throughput Sequencing</h2>


  <div class="page-header">
    <h1 id="immunobrowser">Immunobrowser</h1>
  </div>


  <div class="page-header">
    <h1 id="contact">Contact</h1>
  </div>

  <div class="page-header">
    <h1 id="citing">Citations and Copyright</h1>
  </div>

  <div class="page-header">
    <h1 id="references">References</h1>
  </div>
</div>



<!--Notes below -->

<!--
<h1>Help</h1>
Adaptive Immunity
<ul>
  <li>
  The adaptive immune system overview
  </li>
  <li>
  HLA peptide presentation and recognition by TCR
  </li>
  <li>
  VDJ recombination
  </li>
  <li>
  Clonal expansion
  </li>
  <li>
  Sequencing methdologies
  </li>
  <li>
  Tracking clones
  </li>
</ul>

Using the immunobrowser
<ul>
  <li>
  Model representation of TCRs
  Patient -> Sample -> Clonotype -> Recombination -> Amino Acid Sequence
  </li>
  <li>
  Browsing all patients
  </li>
  <li>
  Comparisons
  </li>
  <li>
  Literature Search
  </li>
  <li>
  Search bar
  </li>
  <li>
  Adding new samples:
  </li>
</ul>

Browser documentation
<ul>
  <li>
  Github docs: Covers installation, administration, javascript docs
  </li>
  <li>
  Django admin docs describes underlying models and methods
  </li>
</ul>

-->
<script>
  // Copy-pasted from twitter bootstrap docs
  !function ($) {
    $(function(){

      var $window = $(window)
      var $body   = $(document.body)

      var navHeight = $('.navbar').outerHeight(true) + 10

      $body.scrollspy({
        target: '.bs-sidebar',
        offset: navHeight
      })

      $window.on('load', function () {
        $body.scrollspy('refresh')
      })

      $('.bs-docs-container [href=#]').click(function (e) {
        e.preventDefault()
      })

      // back to top
      setTimeout(function () {
        var $sideBar = $('.bs-sidebar')

        $sideBar.affix({
          offset: {
            top: function () {
              var offsetTop      = $sideBar.offset().top
              var sideBarMargin  = parseInt($sideBar.children(0).css('margin-top'), 10)
              var navOuterHeight = $('.bs-docs-nav').height()

              return (this.top = offsetTop - navOuterHeight - sideBarMargin)
            }
            , bottom: function () {
              return (this.bottom = $('.bs-footer').outerHeight(true))
            }
          }
        })
      }, 100)

      setTimeout(function () {
        $('.bs-top').affix()
      }, 100)

    })

  }(window.jQuery)
</script>
{% endblock %}
