{% extends 'base.html' %}
{% block nav %}
{% load dashboard_tags %}
{% menu_tag 'dashboard.views.help' %}
{% endblock %}

{% block content %}
<h1>Help</h1>
Background
<ul>
  <li>
  The adaptive immune system overview
  </li>
  <li>
  HLA peptide presentation and recognition by TCR
  </li>
  <li>
  VDJ recombination
  </li>
  <li>
  Clonal expansion
  </li>
  <li>
  Sequencing methdologies
  </li>
  <li>
  Tracking clones
  </li>
</ul>

Using the immunobrowser
<ul>
  <li>
  Model representation of TCRs
  Patient -> Sample -> Clonotype -> Recombination -> Amino Acid Sequence
  </li>
  <li>
  Browsing all patients
  </li>
  <li>
  Comparisons
  </li>
  <li>
  Literature Search
  </li>
  <li>
  Search bar
  </li>
  <li>
  Adding new samples:
  </li>
</ul>

Browser documentation
<ul>
  <li>
  Github docs: Covers installation, administration, javascript docs
  </li>
  <li>
  Django admin docs describes underlying models and methods
  </li>
</ul>

{% endblock %}
