{% extends "base.html" %}

{% block css %}
<style type="text/css">

</style>
{% endblock %}
{% block content %}

<div id="subcontent">
  <div class="row row-padded">
    <div id="intro" class="col-md-12">
      <div class=jumbotron">
        <div class="container">
          <div class="col-md-4 col-md-offset-1">
            <img src="{{STATIC_URL}}img/tcellm.jpg">
          </div>

          <div class="col-md-6">
            <h1>
              Track T-cell Clonal Expansions with Next Generation Sequencing
            </h1>
            The UCSC Immunobrowser makes it
            simple to explore the results of T-cell Receptor Beta sequencing experiments
            interactively. Discover abnormal expansions, track cancers and share your
            results with your colleagues easily.
            <form action="{%url 'dashboard.views.help'%}">
              <button type="submit" class="btn btn-primary btn-lg">Learn
                More</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-padded">
    <div class="col-md-4 col-md-offset-2">
      <h2>
        Compare the repertoires of multiple samples
      </h2>
      Interactive scatterplots show V-J receptor usage all at once. Highlight
      samples individually and compare them to others instantly. V and J
      histograms 
    </div>
    <div class="col-md-4 thumbnail">
      <img src="{{STATIC_URL}}img/anim-scatter.gif">
    </div>
  </div>
  <div class="row row-padded">
    <div class="col-md-4 col-md-offset-2 thumbnail">
      <img src="{{STATIC_URL}}img/track.png">
    </div>
    <div class="col-md-4">
      <h2>
        Track clonal expansions across samples
      </h2>
      Identify clonally expanded T-Cell populations by their CDR3 sequence and
      track them across multiple samples.
    </div>
  </div>
  <div id="intro-browse" class="row row-padded">
    <div class="col-md-4 col-md-offset-2">
      <h2>
        Drill down to the details with our Recombination viewer
      </h2>
      Visualize each recombination to identify key positions generated during
      VDJ Recombination.
    </div>
    <div class="col-md-4 thumbnail">
      <img src="{{STATIC_URL}}img/recombination.png">
    </div>
  </div>
  <div class="row row-padded">
    <div class="col-md-4 col-md-offset-2 thumbnail">
      <img src="{{STATIC_URL}}img/litsearch.png">
    </div>
    <div class="col-md-4">
      <h2>
        Search scientific articles for known receptors
      </h2>
      Leverage the <a href="http://text.soe.ucsc.edu">UCSC Genocoding Project</a> to
      search through the expanse of published literature on T-cell receptor
      sequencing.
    </div>
  </div>
</div>
{% endblock %}
